<nav class="nav nav-pills nav-fill">
  <li class="nav-item">
    <button type="button" class="btn btn-lg" ui-sref="home">Home</button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-lg active" ui-sref="categories">Categories</button>
  </li>
</nav>

<div class="row">
  <div class="breadcrumbs">
    <a ui-sref="home">Home</a> &lt; <span>Categories</span>
  </div>
  <h2>Categories:</h2>

  <categories items="categoriesCtrl.items"></categories>
</div>


<ui-view></ui-view>
